Repository KiraCore/sekai, pull requests merged in 2022-10, with the labels that each got.

#389 feature/all_execution_fees -> release/v0.3.1.25
  RELEASE.md
  app/ante/ante_test.go
  proto/kira/gov/genesis.proto
  proto/kira/gov/query.proto
  scripts/commands/query-execution-fee.sh
  types/Msg.go
  types/constants.go
  x/feeprocessing/keeper/keeper_test.go
  x/gov/client/cli/query.go
  x/gov/genesis_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/legacy/v01228/genesis.pb.go
  x/gov/module.go
  x/gov/types/genesis.go
  x/gov/types/genesis.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
Labels: kira-automation

#391 release/v0.3.1.25 -> latest
  RELEASE.md
  app/ante/ante_test.go
  proto/kira/gov/genesis.proto
  proto/kira/gov/query.proto
  scripts/commands/query-execution-fee.sh
  types/Msg.go
  types/constants.go
  x/feeprocessing/keeper/keeper_test.go
  x/gov/client/cli/query.go
  x/gov/genesis_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/legacy/v01228/genesis.pb.go
  x/gov/module.go
  x/gov/types/genesis.go
  x/gov/types/genesis.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
Labels: kira-automation, automerge

#390 release/v0.3.1.25 -> master
  RELEASE.md
  app/ante/ante_test.go
  proto/kira/gov/genesis.proto
  proto/kira/gov/query.proto
  scripts/commands/query-execution-fee.sh
  types/Msg.go
  types/constants.go
  x/feeprocessing/keeper/keeper_test.go
  x/gov/client/cli/query.go
  x/gov/genesis_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/legacy/v01228/genesis.pb.go
  x/gov/module.go
  x/gov/types/genesis.go
  x/gov/types/genesis.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
Labels: kira-automation

#392 feature/kip_81_councilors -> release/v0.3.2.26
  RELEASE.md
  app/app.go
  proto/kira/gov/councilor.proto
  proto/kira/gov/network_properties.proto
  proto/kira/gov/permission.proto
  proto/kira/gov/proposal.proto
  proto/kira/gov/query.proto
  proto/kira/gov/tx.proto
  scripts/commands/governance/councilor.sh
  types/Proposal.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/genesis_test.go
  x/gov/handler_test.go
  x/gov/keeper/councilor.go
  x/gov/keeper/councilor_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/identity_registrar.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/councilor.pb.go
  x/gov/types/errors.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/network_properties.pb.go
  x/gov/types/permission.pb.go
  x/gov/types/proposal.go
  x/gov/types/proposal.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/gov/types/tx.pb.go
  x/gov/types/types.go
  x/staking/keeper/slash.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
Labels: kira-automation

#394 release/v0.3.2.26 -> latest
  RELEASE.md
  app/app.go
  proto/kira/gov/councilor.proto
  proto/kira/gov/network_properties.proto
  proto/kira/gov/permission.proto
  proto/kira/gov/proposal.proto
  proto/kira/gov/query.proto
  proto/kira/gov/tx.proto
  scripts/commands/governance/councilor.sh
  types/Proposal.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/genesis_test.go
  x/gov/handler_test.go
  x/gov/keeper/councilor.go
  x/gov/keeper/councilor_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/identity_registrar.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/councilor.pb.go
  x/gov/types/errors.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/network_properties.pb.go
  x/gov/types/permission.pb.go
  x/gov/types/proposal.go
  x/gov/types/proposal.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/gov/types/tx.pb.go
  x/gov/types/types.go
  x/staking/keeper/slash.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
Labels: kira-automation, automerge

#393 release/v0.3.2.26 -> master
  RELEASE.md
  app/app.go
  proto/kira/gov/councilor.proto
  proto/kira/gov/network_properties.proto
  proto/kira/gov/permission.proto
  proto/kira/gov/proposal.proto
  proto/kira/gov/query.proto
  proto/kira/gov/tx.proto
  scripts/commands/governance/councilor.sh
  types/Proposal.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/genesis_test.go
  x/gov/handler_test.go
  x/gov/keeper/councilor.go
  x/gov/keeper/councilor_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/identity_registrar.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/councilor.pb.go
  x/gov/types/errors.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/network_properties.pb.go
  x/gov/types/permission.pb.go
  x/gov/types/proposal.go
  x/gov/types/proposal.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/gov/types/tx.pb.go
  x/gov/types/types.go
  x/staking/keeper/slash.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
Labels: kira-automation

#388 Councilors
  RELEASE.md
  app/app.go
  proto/kira/gov/councilor.proto
  proto/kira/gov/network_properties.proto
  proto/kira/gov/permission.proto
  proto/kira/gov/proposal.proto
  proto/kira/gov/query.proto
  proto/kira/gov/tx.proto
  scripts/commands/governance/councilor.sh
  types/Proposal.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/genesis_test.go
  x/gov/handler_test.go
  x/gov/keeper/councilor.go
  x/gov/keeper/councilor_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/identity_registrar.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/councilor.pb.go
  x/gov/types/errors.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/network_properties.pb.go
  x/gov/types/permission.pb.go
  x/gov/types/proposal.go
  x/gov/types/proposal.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/gov/types/tx.pb.go
  x/gov/types/types.go
  x/staking/keeper/slash.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
Labels: invalid

#396 fix using bash-utils func before actually installing them
  scripts/build.sh
Labels: invalid
