Repository KiraCore/sekai, pull requests merged in 2022-06, with the labels that each got.

#343 feature/multistaking_module -> v0.2.0
  RELEASE.md
  app/ante/ante.go
  app/app.go
  proto/kira/gov/network_properties.proto
  proto/kira/multistaking/genesis.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  proto/kira/multistaking/tx.proto
  proto/kira/tokens/rate.proto
  scripts/commands/multistaking.sh
  types/Msg.go
  types/constants.go
  x/distributor/keeper/distributor.go
  x/distributor/keeper/keeper.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci_test.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/gov/types/proposal.go
  x/multistaking/abci.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/genesis.go
  x/multistaking/handler.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/delegation_test.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/keeper/keeper.go
  x/multistaking/keeper/keeper_test.go
  x/multistaking/keeper/msg_server.go
  x/multistaking/keeper/pool.go
  x/multistaking/keeper/pool_test.go
  x/multistaking/module.go
  x/multistaking/types/codec.go
  x/multistaking/types/errors.go
  x/multistaking/types/expected_keepers.go
  x/multistaking/types/genesis.pb.go
  x/multistaking/types/keys.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
  x/multistaking/types/tx.pb.go
  x/tokens/client/cli/cli_test.go
  x/tokens/keeper/grpc_query_test.go
  x/tokens/keeper/rate_test.go
  x/tokens/types/rate.pb.go
  x/tokens/types/types.go
  x/ubi/abci.go
Labels: kira-automation

#345 v0.2.0 -> latest
  RELEASE.md
  app/ante/ante.go
  app/app.go
  proto/kira/gov/network_properties.proto
  proto/kira/multistaking/genesis.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  proto/kira/multistaking/tx.proto
  proto/kira/tokens/rate.proto
  scripts/commands/multistaking.sh
  types/Msg.go
  types/constants.go
  x/distributor/keeper/distributor.go
  x/distributor/keeper/keeper.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci_test.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/gov/types/proposal.go
  x/multistaking/abci.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/genesis.go
  x/multistaking/handler.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/delegation_test.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/keeper/keeper.go
  x/multistaking/keeper/keeper_test.go
  x/multistaking/keeper/msg_server.go
  x/multistaking/keeper/pool.go
  x/multistaking/keeper/pool_test.go
  x/multistaking/module.go
  x/multistaking/types/codec.go
  x/multistaking/types/errors.go
  x/multistaking/types/expected_keepers.go
  x/multistaking/types/genesis.pb.go
  x/multistaking/types/keys.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
  x/multistaking/types/tx.pb.go
  x/tokens/client/cli/cli_test.go
  x/tokens/keeper/grpc_query_test.go
  x/tokens/keeper/rate_test.go
  x/tokens/types/rate.pb.go
  x/tokens/types/types.go
  x/ubi/abci.go
Labels: kira-automation, automerge

#344 v0.2.0 -> master
  RELEASE.md
  app/ante/ante.go
  app/app.go
  proto/kira/gov/network_properties.proto
  proto/kira/multistaking/genesis.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  proto/kira/multistaking/tx.proto
  proto/kira/tokens/rate.proto
  scripts/commands/multistaking.sh
  types/Msg.go
  types/constants.go
  x/distributor/keeper/distributor.go
  x/distributor/keeper/keeper.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci_test.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/gov/types/proposal.go
  x/multistaking/abci.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/genesis.go
  x/multistaking/handler.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/delegation_test.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/keeper/keeper.go
  x/multistaking/keeper/keeper_test.go
  x/multistaking/keeper/msg_server.go
  x/multistaking/keeper/pool.go
  x/multistaking/keeper/pool_test.go
  x/multistaking/module.go
  x/multistaking/types/codec.go
  x/multistaking/types/errors.go
  x/multistaking/types/expected_keepers.go
  x/multistaking/types/genesis.pb.go
  x/multistaking/types/keys.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
  x/multistaking/types/tx.pb.go
  x/tokens/client/cli/cli_test.go
  x/tokens/keeper/grpc_query_test.go
  x/tokens/keeper/rate_test.go
  x/tokens/types/rate.pb.go
  x/tokens/types/types.go
  x/ubi/abci.go
Labels: kira-automation

#339 Feature/multistaking module
  RELEASE.md
  app/ante/ante.go
  app/app.go
  proto/kira/gov/network_properties.proto
  proto/kira/multistaking/genesis.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  proto/kira/multistaking/tx.proto
  proto/kira/tokens/rate.proto
  scripts/commands/multistaking.sh
  types/Msg.go
  types/constants.go
  x/distributor/keeper/distributor.go
  x/distributor/keeper/keeper.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci_test.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/gov/types/proposal.go
  x/multistaking/abci.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/genesis.go
  x/multistaking/handler.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/delegation_test.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/keeper/keeper.go
  x/multistaking/keeper/keeper_test.go
  x/multistaking/keeper/msg_server.go
  x/multistaking/keeper/pool.go
  x/multistaking/keeper/pool_test.go
  x/multistaking/module.go
  x/multistaking/types/codec.go
  x/multistaking/types/errors.go
  x/multistaking/types/expected_keepers.go
  x/multistaking/types/genesis.pb.go
  x/multistaking/types/keys.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
  x/multistaking/types/tx.pb.go
  x/tokens/client/cli/cli_test.go
  x/tokens/keeper/grpc_query_test.go
  x/tokens/keeper/rate_test.go
  x/tokens/types/rate.pb.go
  x/tokens/types/types.go
  x/ubi/abci.go
Labels: invalid

#348 v0.2.1-rc.15 -> latest
  RELEASE.md
  proto/kira/gov/query.proto
  types/constants.go
  x/gov/client/cli/query.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
Labels: kira-automation, automerge

#347 v0.2.1-rc.15 -> master
  RELEASE.md
  proto/kira/gov/query.proto
  types/constants.go
  x/gov/client/cli/query.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
Labels: kira-automation
