Repository KiraCore/sekai, pull requests merged in 2023-07, with the labels that each got.

#507 feature/improvements -> release/v0.3.17
  RELEASE.md
  proto/kira/basket/tx.proto
  proto/kira/distributor/query.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  scripts/commands/multistaking.sh
  types/constants.go
  x/basket/client/cli/tx.go
  x/basket/keeper/grpc_query.go
  x/basket/keeper/mint_burn_swap.go
  x/basket/keeper/mint_burn_swap_test.go
  x/basket/types/basket.go
  x/basket/types/msgs.go
  x/basket/types/tx.pb.go
  x/distributor/client/cli/query.go
  x/distributor/keeper/grpc_query.go
  x/distributor/keeper/store.go
  x/distributor/module.go
  x/distributor/types/keys.go
  x/distributor/types/query.pb.go
  x/distributor/types/query.pb.gw.go
  x/gov/keeper/msg_server.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
Labels: kira-automation

#508 release/v0.3.17 -> master
  RELEASE.md
  proto/kira/basket/tx.proto
  proto/kira/distributor/query.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  scripts/commands/multistaking.sh
  types/constants.go
  x/basket/client/cli/tx.go
  x/basket/keeper/grpc_query.go
  x/basket/keeper/mint_burn_swap.go
  x/basket/keeper/mint_burn_swap_test.go
  x/basket/types/basket.go
  x/basket/types/msgs.go
  x/basket/types/tx.pb.go
  x/distributor/client/cli/query.go
  x/distributor/keeper/grpc_query.go
  x/distributor/keeper/store.go
  x/distributor/module.go
  x/distributor/types/keys.go
  x/distributor/types/query.pb.go
  x/distributor/types/query.pb.gw.go
  x/gov/keeper/msg_server.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
Labels: kira-automation

#491 Improvements from issue tickets
  RELEASE.md
  proto/kira/basket/tx.proto
  proto/kira/distributor/query.proto
  proto/kira/multistaking/multistaking.proto
  proto/kira/multistaking/query.proto
  scripts/commands/multistaking.sh
  types/constants.go
  x/basket/client/cli/tx.go
  x/basket/keeper/grpc_query.go
  x/basket/keeper/mint_burn_swap.go
  x/basket/keeper/mint_burn_swap_test.go
  x/basket/types/basket.go
  x/basket/types/msgs.go
  x/basket/types/tx.pb.go
  x/distributor/client/cli/query.go
  x/distributor/keeper/grpc_query.go
  x/distributor/keeper/store.go
  x/distributor/module.go
  x/distributor/types/keys.go
  x/distributor/types/query.pb.go
  x/distributor/types/query.pb.gw.go
  x/gov/keeper/msg_server.go
  x/multistaking/client/cli/query.go
  x/multistaking/client/cli/tx.go
  x/multistaking/keeper/delegation.go
  x/multistaking/keeper/grpc_query.go
  x/multistaking/types/msgs.go
  x/multistaking/types/multistaking.pb.go
  x/multistaking/types/query.pb.go
  x/multistaking/types/query.pb.gw.go
Labels: invalid

#511 feature/custody_v2 -> release/v0.3.18
  app/ante/ante.go
  proto/kira/custody/tx.proto
  scripts/test-local/custody-processes.sh
  types/Msg.go
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/handler.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/codec.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
Labels: kira-automation

#515 release/v0.3.18 -> latest
  app/ante/ante.go
  proto/kira/custody/tx.proto
  scripts/test-local/custody-processes.sh
  types/Msg.go
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/handler.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/codec.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
Labels: kira-automation, automerge

#514 release/v0.3.18 -> master
  app/ante/ante.go
  proto/kira/custody/tx.proto
  scripts/test-local/custody-processes.sh
  types/Msg.go
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/handler.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/codec.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
Labels: kira-automation

#510 Custody module - #445, #447
  app/ante/ante.go
  proto/kira/custody/tx.proto
  scripts/test-local/custody-processes.sh
  types/Msg.go
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/handler.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/codec.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
Labels: invalid

#513 feature/poll_proposal_v2 -> release/v0.3.19
  proto/kira/gov/network_properties.proto
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/abci.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/gov/types/poll_vote.go
Labels: kira-automation
