Repository KiraCore/sekai, pull requests merged in 2023-05, with the labels that each got.

#460 release/v0.3.14 -> master
  RELEASE.md
  app/app.go
  proto/kira/gov/network_properties.proto
  proto/kira/layer2/genesis.proto
  proto/kira/layer2/layer2.proto
  proto/kira/layer2/mint.proto
  proto/kira/layer2/query.proto
  proto/kira/layer2/tx.proto
  scripts/commands/layer2.sh
  types/Msg.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/layer2/client/cli/query.go
  x/layer2/client/cli/tx.go
  x/layer2/handler.go
  x/layer2/keeper/abci.go
  x/layer2/keeper/abci_test.go
  x/layer2/keeper/bridge_registrar.go
  x/layer2/keeper/bridge_registrar_test.go
  x/layer2/keeper/dapp_operator.go
  x/layer2/keeper/dapp_session.go
  x/layer2/keeper/dapp_test.go
  x/layer2/keeper/grpc_query.go
  x/layer2/keeper/keeper.go
  x/layer2/keeper/lp_swap_redeem_convert.go
  x/layer2/keeper/lp_swap_redeem_convert_test.go
  x/layer2/keeper/msg_server.go
  x/layer2/keeper/token_mint.go
  x/layer2/keeper/token_mint_test.go
  x/layer2/types/codec.go
  x/layer2/types/errors.go
  x/layer2/types/expected_keepers.go
  x/layer2/types/genesis.pb.go
  x/layer2/types/keys.go
  x/layer2/types/layer2.go
  x/layer2/types/layer2.pb.go
  x/layer2/types/mint.pb.go
  x/layer2/types/msgs.go
  x/layer2/types/query.pb.go
  x/layer2/types/query.pb.gw.go
  x/layer2/types/session.go
  x/layer2/types/tx.pb.go
Labels: kira-automation

#457 Layer2 v2 implementation
  RELEASE.md
  app/app.go
  proto/kira/gov/network_properties.proto
  proto/kira/layer2/genesis.proto
  proto/kira/layer2/layer2.proto
  proto/kira/layer2/mint.proto
  proto/kira/layer2/query.proto
  proto/kira/layer2/tx.proto
  scripts/commands/layer2.sh
  types/Msg.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/layer2/client/cli/query.go
  x/layer2/client/cli/tx.go
  x/layer2/handler.go
  x/layer2/keeper/abci.go
  x/layer2/keeper/abci_test.go
  x/layer2/keeper/bridge_registrar.go
  x/layer2/keeper/bridge_registrar_test.go
  x/layer2/keeper/dapp_operator.go
  x/layer2/keeper/dapp_session.go
  x/layer2/keeper/dapp_test.go
  x/layer2/keeper/grpc_query.go
  x/layer2/keeper/keeper.go
  x/layer2/keeper/lp_swap_redeem_convert.go
  x/layer2/keeper/lp_swap_redeem_convert_test.go
  x/layer2/keeper/msg_server.go
  x/layer2/keeper/token_mint.go
  x/layer2/keeper/token_mint_test.go
  x/layer2/types/codec.go
  x/layer2/types/errors.go
  x/layer2/types/expected_keepers.go
  x/layer2/types/genesis.pb.go
  x/layer2/types/keys.go
  x/layer2/types/layer2.go
  x/layer2/types/layer2.pb.go
  x/layer2/types/mint.pb.go
  x/layer2/types/msgs.go
  x/layer2/types/query.pb.go
  x/layer2/types/query.pb.gw.go
  x/layer2/types/session.go
  x/layer2/types/tx.pb.go
Labels: invalid

#470 feature/custody_v2 -> release/v0.3.15.1
  RELEASE.md
  app/ante/ante.go
  app/app.go
  proto/kira/custody/custody.proto
  proto/kira/custody/tx.proto
  proto/kira/gov/network_properties.proto
  proto/kira/layer2/genesis.proto
  proto/kira/layer2/layer2.proto
  proto/kira/layer2/mint.proto
  proto/kira/layer2/query.proto
  proto/kira/layer2/tx.proto
  scripts/commands/layer2.sh
  scripts/sekai-utils.sh
  scripts/test-local/custody-processes.sh
  types/Msg.go
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/custody.pb.go
  x/custody/types/errors.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/layer2/client/cli/query.go
  x/layer2/client/cli/tx.go
  x/layer2/handler.go
  x/layer2/keeper/abci.go
  x/layer2/keeper/abci_test.go
  x/layer2/keeper/bridge_registrar.go
  x/layer2/keeper/bridge_registrar_test.go
  x/layer2/keeper/dapp_operator.go
  x/layer2/keeper/dapp_session.go
  x/layer2/keeper/dapp_test.go
  x/layer2/keeper/grpc_query.go
  x/layer2/keeper/keeper.go
  x/layer2/keeper/lp_swap_redeem_convert.go
  x/layer2/keeper/lp_swap_redeem_convert_test.go
  x/layer2/keeper/msg_server.go
  x/layer2/keeper/token_mint.go
  x/layer2/keeper/token_mint_test.go
  x/layer2/types/codec.go
  x/layer2/types/errors.go
  x/layer2/types/expected_keepers.go
  x/layer2/types/genesis.pb.go
  x/layer2/types/keys.go
  x/layer2/types/layer2.go
  x/layer2/types/layer2.pb.go
  x/layer2/types/mint.pb.go
  x/layer2/types/msgs.go
  x/layer2/types/query.pb.go
  x/layer2/types/query.pb.gw.go
  x/layer2/types/session.go
  x/layer2/types/tx.pb.go
Labels: kira-automation

#473 release/v0.3.15.1 -> master
  app/ante/ante.go
  proto/kira/custody/custody.proto
  proto/kira/custody/tx.proto
  scripts/sekai-utils.sh
  scripts/test-local/custody-processes.sh
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/custody.pb.go
  x/custody/types/errors.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
Labels: kira-automation

#469 Feature/custody v2
  RELEASE.md
  app/ante/ante.go
  app/app.go
  proto/kira/custody/custody.proto
  proto/kira/custody/tx.proto
  proto/kira/gov/network_properties.proto
  proto/kira/layer2/genesis.proto
  proto/kira/layer2/layer2.proto
  proto/kira/layer2/mint.proto
  proto/kira/layer2/query.proto
  proto/kira/layer2/tx.proto
  scripts/commands/layer2.sh
  scripts/sekai-utils.sh
  scripts/test-local/custody-processes.sh
  types/Msg.go
  types/constants.go
  x/custody/client/cli/tx.go
  x/custody/keeper/custody.go
  x/custody/keeper/msg_server.go
  x/custody/types/custody.pb.go
  x/custody/types/errors.go
  x/custody/types/msg.go
  x/custody/types/tx.pb.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/types/genesis.go
  x/gov/types/network_properties.pb.go
  x/layer2/client/cli/query.go
  x/layer2/client/cli/tx.go
  x/layer2/handler.go
  x/layer2/keeper/abci.go
  x/layer2/keeper/abci_test.go
  x/layer2/keeper/bridge_registrar.go
  x/layer2/keeper/bridge_registrar_test.go
  x/layer2/keeper/dapp_operator.go
  x/layer2/keeper/dapp_session.go
  x/layer2/keeper/dapp_test.go
  x/layer2/keeper/grpc_query.go
  x/layer2/keeper/keeper.go
  x/layer2/keeper/lp_swap_redeem_convert.go
  x/layer2/keeper/lp_swap_redeem_convert_test.go
  x/layer2/keeper/msg_server.go
  x/layer2/keeper/token_mint.go
  x/layer2/keeper/token_mint_test.go
  x/layer2/types/codec.go
  x/layer2/types/errors.go
  x/layer2/types/expected_keepers.go
  x/layer2/types/genesis.pb.go
  x/layer2/types/keys.go
  x/layer2/types/layer2.go
  x/layer2/types/layer2.pb.go
  x/layer2/types/mint.pb.go
  x/layer2/types/msgs.go
  x/layer2/types/query.pb.go
  x/layer2/types/query.pb.gw.go
  x/layer2/types/session.go
  x/layer2/types/tx.pb.go
Labels: invalid

#487 feature/resolve_kamil_findings -> release/v0.3.16
  RELEASE.md
  app/app.go
  proto/kira/basket/basket.proto
  proto/kira/gov/role.proto
  proto/kira/gov/tx.proto
  scripts/commands/collectives.sh
  scripts/sekai-env.sh
  scripts/sekai-utils.sh
  types/Msg.go
  types/Proposal.go
  types/constants.go
  x/basket/keeper/keeper.go
  x/basket/types/basket.pb.go
  x/basket/types/expected_keepers.go
  x/collectives/client/cli/tx.go
  x/collectives/types/expected_keepers.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/gov/client/cli/cli_role_test.go
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util_test.go
  x/gov/genesis_test.go
  x/gov/handler.go
  x/gov/handler_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/keeper/permission_registry.go
  x/gov/keeper/proposal_duration_test.go
  x/gov/keeper/proposal_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/events.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/proposal.go
  x/gov/types/role.pb.go
  x/gov/types/tx.pb.go
  x/layer2/client/cli/tx.go
  x/layer2/types/expected_keepers.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
  x/slashing/client/cli/flags.go
  x/slashing/module.go
  x/slashing/types/expected_keepers.go
  x/spending/types/expected_keepers.go
  x/tokens/proposal_handler.go
  x/tokens/types/expected_keepers.go
  x/ubi/types/expected_keepers.go
  x/upgrade/handler.go
  x/upgrade/keeper/msg_server.go
  x/upgrade/module.go
  x/upgrade/types/expected_keepers.go
Labels: kira-automation

#489 release/v0.3.16 -> latest
  RELEASE.md
  app/app.go
  proto/kira/basket/basket.proto
  proto/kira/gov/role.proto
  proto/kira/gov/tx.proto
  scripts/commands/collectives.sh
  scripts/sekai-env.sh
  scripts/sekai-utils.sh
  types/Msg.go
  types/Proposal.go
  types/constants.go
  x/basket/keeper/keeper.go
  x/basket/types/basket.pb.go
  x/basket/types/expected_keepers.go
  x/collectives/client/cli/tx.go
  x/collectives/types/expected_keepers.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/gov/client/cli/cli_role_test.go
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util_test.go
  x/gov/genesis_test.go
  x/gov/handler.go
  x/gov/handler_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/keeper/permission_registry.go
  x/gov/keeper/proposal_duration_test.go
  x/gov/keeper/proposal_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/events.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/proposal.go
  x/gov/types/role.pb.go
  x/gov/types/tx.pb.go
  x/layer2/client/cli/tx.go
  x/layer2/types/expected_keepers.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
  x/slashing/client/cli/flags.go
  x/slashing/module.go
  x/slashing/types/expected_keepers.go
  x/spending/types/expected_keepers.go
  x/tokens/proposal_handler.go
  x/tokens/types/expected_keepers.go
  x/ubi/types/expected_keepers.go
  x/upgrade/handler.go
  x/upgrade/keeper/msg_server.go
  x/upgrade/module.go
  x/upgrade/types/expected_keepers.go
Labels: kira-automation, automerge

#488 release/v0.3.16 -> master
  RELEASE.md
  app/app.go
  proto/kira/basket/basket.proto
  proto/kira/gov/role.proto
  proto/kira/gov/tx.proto
  scripts/commands/collectives.sh
  scripts/sekai-env.sh
  scripts/sekai-utils.sh
  types/Msg.go
  types/Proposal.go
  types/constants.go
  x/basket/keeper/keeper.go
  x/basket/types/basket.pb.go
  x/basket/types/expected_keepers.go
  x/collectives/client/cli/tx.go
  x/collectives/types/expected_keepers.go
  x/distributor/types/expected_keepers.go
  x/feeprocessing/keeper/keeper.go
  x/gov/client/cli/cli_role_test.go
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util_test.go
  x/gov/genesis_test.go
  x/gov/handler.go
  x/gov/handler_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/network_actor.go
  x/gov/keeper/network_actor_test.go
  x/gov/keeper/permission_registry.go
  x/gov/keeper/proposal_duration_test.go
  x/gov/keeper/proposal_test.go
  x/gov/proposal_handler.go
  x/gov/types/codec.go
  x/gov/types/events.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/gov/types/proposal.go
  x/gov/types/role.pb.go
  x/gov/types/tx.pb.go
  x/layer2/client/cli/tx.go
  x/layer2/types/expected_keepers.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/expected_keepers.go
  x/slashing/client/cli/flags.go
  x/slashing/module.go
  x/slashing/types/expected_keepers.go
  x/spending/types/expected_keepers.go
  x/tokens/proposal_handler.go
  x/tokens/types/expected_keepers.go
  x/ubi/types/expected_keepers.go
  x/upgrade/handler.go
  x/upgrade/keeper/msg_server.go
  x/upgrade/module.go
  x/upgrade/types/expected_keepers.go
Labels: kira-automation
