Repository KiraCore/sekai, pull requests merged in 2024-05, with the labels that each got.

#656 Genesis migrator update
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/types/genesis.go
  x/slashing/types/signing_info.go
  x/ubi/module.go
  x/upgrade/legacy/v0317/genesis.pb.go
  x/upgrade/legacy/v0317/plan.pb.go
  x/upgrade/legacy/v0317/upgrade.pb.go
Labels: invalid

#657 feature/metamask_tx_compatibility -> release/v0.3.45
  RELEASE.md
  app/ante/ante.go
  app/ante/sigverify.go
  app/ante/sigverify_test.go
  app/ante/testutil_test.go
  app/app.go
  go.mod
  go.sum
  proto/kira/tokens/tx.proto
  types/Msg.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/client/cli/cli_identity_registrar_test.go
  x/gov/genesis_test.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/slashing/types/signing_info.go
  x/tokens/keeper/keeper.go
  x/tokens/keeper/msg_server.go
  x/tokens/types/codec.go
  x/tokens/types/errors.go
  x/tokens/types/expected_keepers.go
  x/tokens/types/msg_eth_tx.go
  x/tokens/types/tx.pb.go
  x/ubi/module.go
  x/upgrade/legacy/v0317/genesis.pb.go
  x/upgrade/legacy/v0317/plan.pb.go
  x/upgrade/legacy/v0317/upgrade.pb.go
Labels: kira-automation

#659 release/v0.3.45 -> latest
  RELEASE.md
  app/ante/ante.go
  app/ante/sigverify.go
  app/ante/sigverify_test.go
  app/ante/testutil_test.go
  app/app.go
  go.mod
  go.sum
  proto/kira/tokens/tx.proto
  types/Msg.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/client/cli/cli_identity_registrar_test.go
  x/gov/genesis_test.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/slashing/types/signing_info.go
  x/tokens/keeper/keeper.go
  x/tokens/keeper/msg_server.go
  x/tokens/types/codec.go
  x/tokens/types/errors.go
  x/tokens/types/expected_keepers.go
  x/tokens/types/msg_eth_tx.go
  x/tokens/types/tx.pb.go
  x/ubi/module.go
  x/upgrade/legacy/v0317/genesis.pb.go
  x/upgrade/legacy/v0317/plan.pb.go
  x/upgrade/legacy/v0317/upgrade.pb.go
Labels: kira-automation, automerge

#658 release/v0.3.45 -> master
  RELEASE.md
  app/ante/ante.go
  app/ante/sigverify.go
  app/ante/sigverify_test.go
  app/ante/testutil_test.go
  app/app.go
  go.mod
  go.sum
  proto/kira/tokens/tx.proto
  types/Msg.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/client/cli/cli_identity_registrar_test.go
  x/gov/genesis_test.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/slashing/types/signing_info.go
  x/tokens/keeper/keeper.go
  x/tokens/keeper/msg_server.go
  x/tokens/types/codec.go
  x/tokens/types/errors.go
  x/tokens/types/expected_keepers.go
  x/tokens/types/msg_eth_tx.go
  x/tokens/types/tx.pb.go
  x/ubi/module.go
  x/upgrade/legacy/v0317/genesis.pb.go
  x/upgrade/legacy/v0317/plan.pb.go
  x/upgrade/legacy/v0317/upgrade.pb.go
Labels: kira-automation

#616 Metamask tx support
  RELEASE.md
  app/ante/ante.go
  app/ante/sigverify.go
  app/ante/sigverify_test.go
  app/ante/testutil_test.go
  app/app.go
  go.mod
  go.sum
  proto/kira/tokens/tx.proto
  types/Msg.go
  types/constants.go
  x/genutil/client/cli/upgrade_genesis.go
  x/gov/client/cli/cli_identity_registrar_test.go
  x/gov/genesis_test.go
  x/gov/types/genesis.go
  x/gov/types/msg.go
  x/slashing/types/signing_info.go
  x/tokens/keeper/keeper.go
  x/tokens/keeper/msg_server.go
  x/tokens/types/codec.go
  x/tokens/types/errors.go
  x/tokens/types/expected_keepers.go
  x/tokens/types/msg_eth_tx.go
  x/tokens/types/tx.pb.go
  x/ubi/module.go
  x/upgrade/legacy/v0317/genesis.pb.go
  x/upgrade/legacy/v0317/plan.pb.go
  x/upgrade/legacy/v0317/upgrade.pb.go
Labels: invalid
